
table.formgroup tr td {
padding-right: 0px;
padding-left: 5px;
}

th.WSN_list_operations {
text-align: left;
}

td.WSN_list_operations {
text-align: left;
}

div.WSN_popup_title {
float: right;
}

ul.WSN_quick_shortcuts li {
float: right;
margin: 0 0 1pt 1pt;
}

div.WSNdashboard {
float: right;
}

dt.WSNcomponent {
padding-right: 40px;
}

dt.WSNcomponent a {
margin-left: 5px;
}

dt#WSNsites {
background: transparent url(images/sites.png) no-repeat top right;
}

dt#WSNnodes {
background: transparent url(images/nodes.png) no-repeat top right;
}

dt#WSNsensors {
background: transparent url(images/sensors.png) no-repeat top right;
}

dt#WSNobservations {
background: transparent url(images/observations.png) no-repeat top right;
}

dt#WSNconfiguration {
background: transparent url(images/configuration.png) no-repeat top right;
}

div.WSNcomponent {
overflow: hidden;
}

div.WSNcomponent #fields {
float: right;
}

div.WSNcomponent #fields div.label{
float: right;
text-align: left;
clear: right;
}

div.WSNcomponent #fields div.value {
float: right;
margin-right: 4px;
}

div.WSNcomponent #links {
float: left;
}

div.WSNcomponent #links div {
padding-right: 34px;
}

div.WSNcomponent div.nodes {
background: transparent url(images/nodes.png) no-repeat top right;
}

div.WSNcomponent div.sensors {
background: transparent url(images/sensors.png) no-repeat top right;
}

div.WSNcomponent div.observations {
background: transparent url(images/observations.png) no-repeat top right;
}

div.WSNcomponent div.print_html {
background: transparent url(images/html.png) no-repeat top right;
}

div.WSNcomponent div.print_pdf {
background: transparent url(images/pdf.png) no-repeat top right;
}