/* Creates two columns, each 50% of page width */

#WSNdashboard {
width: 100%
}

div.WSNdashboard {
float: left;
width: 50%;
}

#WSNdashboard-block {
  overflow: hidden;
}

#WSNdashboard-block .WSNdashboard-icon {
  display:inline;
  float: left
}

#WSNdashboard-block .WSNdashboard-icon dt.WSNcomponent {
  height: 32px;
  padding-top: 5px;
}

#header-region #WSNdashboard-block * {
  display: inline-block;
}

#header-region #WSNdashboard-block .popups-form img {
  margin-top: 0;
}